/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/

body{
    background-color: #F0F0F0;
}

.blank-bar {
    margin-top: 30px;
    position: relative;
    padding: 25px;
    margin-bottom: 1em;
}

.company-title {
    font-family: 'Abel', sans-serif;
    font-size: 3em;
    margin-bottom: 0;
}

.header-title {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    margin-bottom: 24px;
}

/*xs screen*/
@media screen and (max-width: 575px) {
    .logo {
        width: 105px;
        height: 105px;
        top: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .blank-bar>ul {
        display: none;
    }

    h1 {
        max-width: 315px;
        margin: auto;
    }

    .circles>.row{
        justify-content: space-around;
    }

    .selectedworktitle{
        font-family: 'Abel', sans-serif;
        font-size: 20px;
        text-align: center;
        margin-top: 80px;
    }

    .macbook-img {
        display: none;
    }

    .man-img {
        display: none;
    }

    .security-img {
        display: none;
    }

    hr {
        display: none;
    }

    .selectedworktitle {
        font-family: 'Abel', sans-serif;
        font-size: 20px;
        text-align: center;
    }

    /*added-from-chat*/
    .container-sm {
        max-width: 200px;
        padding: 0;
    }

    .circle-pad {
        padding-right: 1px;
    }

    .work-nav {
        margin-right: 48px;
    }

    .blog-nav {
        margin-left: 48px;
    }
}

/*small screen*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    h1 {
        max-width: 690px;
        margin: auto;
        font-size: 38px;
    }

    .company-title {
        font-size: 30px;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .header-title>.container-fluid {
        padding: 0;
    }

    .blank-bar {
        padding: 5px;
    }

    .logo {
        width: 105px;
        height: 105px;
        top: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .selectedworktitle {
        font-family: 'Abel', sans-serif;
        font-size: 16px;
        text-align: center;
    }

    .container-sm {
        max-width: 450px;
    }

    .circle-pad {
        padding: 0;
    }
    .work-nav {
        margin-right: 48px;
    }

    .blog-nav {
        margin-left: 48px;
    }

    .featureproject {
        font-size: 10px;
    }
}

/*medium screen*/
@media screen and (min-width: 768px) {
    .header-title {
        margin-top: 1em;
    }

    .selectedworktitle {
        text-align: left;
        font-size: 16px;
        max-width: 460px;
        margin: 0;
    }

    .logo {
        width: 105px;
        height: 105px;
        top: 0;
        position: absolute;
        left: 12%;
    }

    .company-title {
        position: absolute;
        top: 26px;
        left: 25%;
        font-size: 32px;
    }

    .container-sm{
        max-width: 450px;
    }

    .circle-pad {
        padding: 0;
    }

    .blank-bar {
        padding: 5px;
    }

    .spacer {
        display: none;
    }

    .contacts-nav {
        margin-right: 64px;
    }

    .featureproject {
        font-size: 10px;
    }
}

/*large & xl screen */
@media screen and (min-width: 992px) {
    .contacts-nav{
        margin-right: 128px;
    }

    .logo {
        width: 105px;
        height: 105px;
        top: 0;
        position: absolute;
        left: 15%;
    }

    .company-title {
        position: absolute;
        top: 26px;
        left: 26%;
        font-size: 32px;
    }

    .horizontal-line {
        width: 100%;
        margin-bottom: 4em;
    }

    .featureproject {
        font-size: 15px;
    }

    .container-sm{
        max-width: 550px;
    }

    .circle-pad {
        padding: 0;
    }
}

.location {
    font-family: 'Anton', sans-serif;
    margin-bottom: 24px;
}

.design {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #E6563B;
    border: 8px solid white;
    line-height: 0;
    position: relative;

}

.designsmall {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #E6563B;
    border: #E6563B;
    line-height: 0;
    position: relative;
    float: right;

}

.develop {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #EB9D3A;
    border: 8px solid white;
    line-height: 0;
    position: relative;
}

.developsmall {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #EB9D3A;
    border: #EB9D3A;
    line-height: 0;
    position: relative;
    float: right;
    margin-left: 4px;
}

.support {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #7CB06C;
    border: 8px solid white;
    line-height: 0;
    position: relative;
}

.supportsmall {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #7CB06C;
    border: #7CB06C;
    line-height: 0;
    position: relative;
    float: right;
    margin-left: 4px;
}

.host {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #00ABA9;
    border: 8px solid white;
    line-height: 0;
    position: relative;
}

.hostsmall {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #00ABA9;
    border: #00ABA9;
    line-height: 0;
    position: relative;
    float: right;
    margin-left: 4px;
}

.txt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color: white;
}

.txtsmall {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-family: 'Anton', sans-serif;
    color: black;
}

.supporttxt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color: white;
}

.supporttxtsmall {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;

    font-size: 10px;
    font-family: 'Anton', sans-serif;
    color: black;
}

.developtxt{
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color: white;
}

.developtxtsmall {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-family: 'Anton', sans-serif;
    color: black;
}

.hosttxt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color: white;
}

.hosttxtsmall {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-family: 'Anton', sans-serif;
    color: black;
}

.card {
    border: 8px solid #E6E6E6;
    margin-bottom: 8px;
    margin-top: 32px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
}

.spacing {
    margin-top: 38px;
}

.small-img-border {
    border: 2px solid #E6E6E6;
    margin-right: 1em;
}

.the-last-text {
    margin-left: 8px;
}

.last-tweet-header {
    margin-top: 32px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.last-tweet {
    margin-top: 1em;
    font-size: 16px;
    font-family: 'Abel', sans-serif
}

.the-last-header {
    font-family: 'Abel', sans-serif
}
